*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin:5px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 5fr 1fr
}

header{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: pink;
}

aside{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start:2;
    grid-row-end:6;
    background-color:plum;
}

nav{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: lightblue;
}

article{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: lightgreen;
    display: grid;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-columns: 1fr 1fr;
}

article h1{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
}

article .imgDiv{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr ;
}

/* img{
    This is simulated img css grid-column-start etc for all of them with some differences incorporated... but without actually doing it as it will take an age.
} */

article p{
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:3;
    text-align: justify;
    padding: 5px;;
}

footer{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: beige;
}

img{
    width: 50px;
    height: auto;
}