*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 5fr 1fr
}

header{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: pink;
}

aside{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start:2;
    grid-row-end:6;
    background-color:plum;
}

nav{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: lightblue;
}

article{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    background-color: lightgreen;
}

footer{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: beige;
}