*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap:10px;
    grid-auto-rows: 100;
    grid-auto-flow: column;
}

.box{
    background-image: url(./images/catImage.jpg);
}