*{
    margin:0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
    display: grid;
    grid-template-columns: 100px 200px 100px;
    grid-template-columns: 25% 50% 25%;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-gap: 10px;
}

img{
    width: 100%;
    height: auto;
}