*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 10px;
}

intro-text{
    max-width: fit-content;
    margin-inline:auto;
}

.container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.box{
    border: 2px solid goldenrod;
    border-radius: 1rem;
    min-height: 50px;
    min-width: 50px;
}

img{
    display: block;
    max-width: 100px;
    min-width: 50px;
    height: auto;
    border-radius: 1rem;
}

