*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 10px;
}

intro-text{
    max-width: fit-content;
    margin-inline:auto;
}

header{
    display: flex;
}

.flexContainer{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.box{
    border: 2px solid goldenrod;
    border-radius: 1rem;
    min-height: 50px;
    max-width: fit-content;
}

img{
    display: block;
    max-width: 100px;
    min-width: 50px;
    height: auto;
    border-radius: 1rem;
}

.hero{
    background-image: url(./images/cat.jpg);
    width: 100vw;
    height:100vh;
}

.transbox{
    background-color: rgba(255, 255, 255, 0.678);
    width: 100vw;
    height: 100vh;
}

.gridContainer{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    gap: 10px;
}

@media (min-width: 460px){
    header{
        justify-content: center;
    }
}

@media (min-width: 800px){
    header{
        justify-content:left;
    }
}