/* Tips */

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box; /* keeps content size consistent */
    background-color: mediumseagreen;
}

h1{ /* selector */
    padding: 20px; /* element */
}

img{
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 20px solid red;
    margin: 10px;
}

.box{
    width: 100px;
    height: 100px;
    border: 10px solid black;
    margin: 10px;
    padding: 10px;
    outline: 1px solid black
}

.second-box{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 10px solid blue;
    margin: 10px;
    padding: 10px;
}

main{
    background-color: lightgrey;
    margin: 20px;
    border: 10px ridge red;
    width: 300px;
    height: auto;
}

nav{
    margin: 20px;
    border: 10px solid black;
    padding: 10px;
}

li{
    margin: 20px;
    border: 10px dotted blue;
    padding: 10px;
    background-color: lightcoral;
    border-radius: 20px;
}

ol{
    margin: 20px;
    border: 10px double brown;
    padding: 10px;
    background-color: rgb(49, 155, 72);
    border-radius: 20px;
}