/* when you select an html element, the styles apply to that element and all of its children. */

body{
    background-color: whitesmoke;
    text-align: center;
}

article{
    background: black;
    color: whitesmoke;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    margin-bottom: 10px;
    margin-top: 20px;

}

h3,h4{
    display: inline;
    margin-top: 6px;
}

img{
    width: 200px;
    height: auto;
    border-radius: 8px;
    border: 4px double whitesmoke;
    margin: 20px;
    display: inline;
}

p{
    color: black;
    text-align: justify;
}

.firstPara{
    font-weight: bolder;
}

#p2{
    font-family: 'Courier New', Courier, monospace;
}

button{
    background-color: blue;
    color:whitesmoke;
    width: 60px;
    height: 30px;
    font-size: large;
    border-radius: 8px;
    border: 4px ridge whitesmoke;
}
